.card {
  text-align: center;
  background: $light-blue;
  height: 40rem;
  font-size: 1.8rem;
  color: $off-white;
  transition: transform 0.2s;
  opacity: 0.8;
  margin-top: 5rem;
  margin-left: 50rem;
  width: 45rem;
}

.card__image {
  margin-top: 2rem;
  border-radius: 50%;
  overflow: hidden;
  height: 10rem;
  width: 10rem;
}

.card__button {
  background: black;
}

.card__link {
  color: red;
  text-decoration: solid;
  font-weight: bold;
}
.card:hover {
  color: lighten($off-white, 70%);
  box-shadow: $s-size $off-black;
  transform: scale(1.15);
  opacity: 0.5;
  box-shadow: $s-size $s-size $m-size lighten($off-white, 60%);
}
